/* about-section css start */
.about-page-banner{
    background-image: url("../images/about-banner.jpg");
}

.about-section .article-content-wrap {
    max-width: 900px;
    margin: 0 auto;
}

.about-section .article-content strong {
    font-size: 20px;
}
/* about-section css end */

@media only screen and (max-width:767px) {

    /* about section css start */
    .about-section .article-content strong {
        font-size: 17px;
    }
    /* about section css end */
}
