.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.breadcrumb li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb li a,
.breadcrumb li span {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.breadcrumb li .active {
text-decoration: underline;
}

.breadcrumb li .breadcrumb-icon i {
    color: var(--white);
    font-size: 14px;
}

.breadcrumb li:last-child .breadcrumb-icon {
    display: none;
}