.cta-section {
    background-image: url('../images/banner-img1.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.3);
}

.cta-content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-content {
    max-width: 650px;
    text-align: center;
    padding: 25px 50px; 
    background-color: var(--white);
}

.cta-content-title {
    color: var(--black);
    text-transform: uppercase;
}

.cta-content-text{
    margin: 10px 0 0 0;
}

.cta-input-field-wrap {
    margin: 20px auto 0;
    max-width: 477px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cta-input-field {
    width: 100%;
    height: 50px;
}

.cta-input-field input {
    border: 1px solid var(--border-color);
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.cta-input-field-wrap .btn{
    width: 100%;
}

@media only screen and (max-width: 575px){
    /* cta section css start */
    .cta-section {
        padding: 150px 0;
    }

    .cta-content {
        width: 100%;
        max-width: 100%;
        padding: 20px 20px;
    }

    .cta-content-text {
        margin: 5px 0 0 0;
    }

    .cta-input-field-wrap {
        margin: 10px auto 0;
    }
    /* cta section css end */
}