.cta-section {
    padding: 250px 0;
    background-image: url('../images/banner-slider-img.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.3);
}

.cta-content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-content {
    max-width: 650px;
    text-align: center;
    padding: 25px 50px; 
    background-color: var(--white);
}

.cta-content-title {
    color: var(--black);
    text-transform: uppercase;
}

.cta-content-btn {
    margin: 12px 0 0 0;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 575px){
    /* cta section css start */
    .cta-section {
        padding: 150px 0;
    }

    .cta-content {
        width: 100%;
        max-width: 100%;
        padding: 20px 20px;
    }
    /* cta section css end */
}