/* product section css start */
.product-section {
    position: relative;
}

.brand-icon {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 9;
}

.product-section::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-color: var(--card-bg);
    z-index: -1;
}

/* updated slider */
.product-page-content-wrap {
    display: flex;
    align-items: center;
}

.product-img-area {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.slider-zoom-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    z-index: 9999;
    display: none;
}

.product-img-area.active .slider-zoom-close-btn {
    display: block;
}

.product-img-area.active {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--card-bg);
    z-index: 999;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.product-single-slider {
    width: 100%;
    height: 100vh;
}

.product-img-area:hover {
    cursor: zoom-in;
    cursor: url("../images/zoom-hover-icon.svg") 22 22, zoom-in;
}

.product-img-area.active:hover {
    cursor: zoom-in;
}

.product-single-thumb-slider {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.product-img-area.active .product-single-thumb-slider {
    width: 70px;
    height: 500px;
    background-color: var(--card-bg);
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 9;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.swiper-slide {
    user-select: none;
}

.product-single-thumb-slider .swiper-slide {
    cursor: pointer;
}

.product-single-thumb-slider .swiper-slide {
    position: relative;
    width: 100%;
}

.product-single-thumb-slider .swiper-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--black);
    opacity: 0;
    visibility: hidden;
}

.product-single-thumb-slider .swiper-slide.swiper-slide-thumb-active::after {
    opacity: 1;
    visibility: visible;
}

.product-single-img-item {
    width: 100%;
    height: 100%;
}

/* updated slider */

.product-content-area {
    max-width: 460px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.single-product-content-top {
    padding: 0 0 34px 0;
    border-bottom: 1px solid var(--border-color);
}

.product-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
}

.product-price-wrap {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.previous-price {
    text-decoration: line-through;
    font-weight: 300;
}

.product-varient {
    margin: 20px 0 0 0;
}

.product-varient-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px 0;
}

.product-varient-title {
    font-size: 17px;
    text-transform: capitalize;
}

.product-varient-title strong:last-child {
    margin: 0 0 0 5px;
}

.product-varient-popup-btn {
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--heading-font);
    color: var(--black);
    flex-direction: column;
}

.product-varient-field-wrap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.product-varient-input-field {
    position: relative;
}

.product-varient-input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
}

.product-varient-label {
    cursor: pointer;
    overflow: hidden;
    background-color: var(--white);
    display: block;
    padding: 10px 5px;
    border: 1px solid var(--border-color);
    text-align: center;
    user-select: none;
}

.product-varient-input-field .product-varient-label .varient-value {
    width: 100%;
    height: 100%;
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--paragraph-font);
    line-height: 1;
    display: block;
    text-wrap: nowrap;
}

.product-varient-label:hover {
    border-color: var(--border-color);
}

.product-varient-input-field input[type="radio"]:checked~.product-varient-label {
    background-color: var(--btn-bg);
    border-color: var(--border-color);
}

.product-varient-input-field input[type="radio"]:checked~.product-varient-label .varient-value {
    color: var(--white);
}

.product-varient-input-field.disabled label {
    opacity: 0.4;
    cursor: no-drop;
}

.product-varient-input-field.disabled .product-varient-label {
    cursor: no-drop;
    text-decoration: line-through;
}

.label-details {
    font-size: 10px;
    margin: 2px 0 0 0;
    color: var(--brand-color);
    font-weight: 700;
    text-transform: capitalize;
    line-height: 12px;
}

.product-details-popup-wrap {
    margin: 20px 0 0 0;
}

.product-details-popup-btn {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
}

.product-color-varient-field-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-color-varient-input-field {
    position: relative;
    cursor: pointer;
}

.product-color-varient-input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
}

.product-color-varient-label {
    cursor: pointer;
    overflow: hidden;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-muted);
    text-align: center;
    user-select: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.color-varient-value {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: block;
}

.product-color-varient-input-field:first-child .color-varient-value {
    background-color: var(--brand-color);
}

.product-color-varient-input-field:nth-child(2) .color-varient-value {
    background-color: #f2840f;
}

.product-color-varient-input-field:nth-child(3) .color-varient-value {
    background-color: #ff0000;
}

.product-color-varient-input-field:nth-child(4) .color-varient-value {
    background-color: #8484f6;
}

.product-color-varient-input-field:last-child .color-varient-value {
    background-color: #e48695;
}

.product-color-varient-input-field input[type="radio"]:checked+.product-color-varient-label {
    border-color: var(--black);
}

.product-btn-area {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.product-btn-area .product-quantity {
    border: 1px solid var(--border-color);
    display: inline-flex;
    align-items: center;
    max-width: 150px;
    width: 100%;
    background-color: var(--body-color);
}

.product-btn-area .quantity-decrease,
.product-btn-area .quantity-increase {
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--black);
    height: 100%;
    padding: 15px 10px;
    transition: ease .3s;
}

.product-btn-area .quantity-decrease {
    border-right: 1px solid var(--border-color);
}

.product-btn-area .quantity-increase {
    border-left: 1px solid var(--border-color);
}

.product-btn-area .quantity-total {
    text-align: center;
    font-weight: 700;
    width: 100%;
    height: 100%;
    color: var(--black);
}

.add-to-card-btn .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product-desription-link-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0 0 0;
}

.product-desription-link {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.masurement-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99999;
}

.masurement-modal.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.masurement-modal-content {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 100px);
    scrollbar-width: thin;
}

.modal-content-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-content-title {
    text-align: center;
    margin: 0 0 24px 0;
}

.modal-content-inner {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.modal-content-img {
    width: 50%;
}

.modal-content {
    width: 45%;
}

.modal-content p {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}

.modal-content ul {
    margin: 10px 0 0 0;
}

.modal-content ul li {
    margin: 5px 0 0 0;
}

.modal-content ul li:first-child {
    margin: 0;
}

.measurement-guide-content {
    width: 100%;
    max-width: 300px;
    margin: 20px auto 0;
}

.measurement-guide-content,
.measurement-guide-content th,
.measurement-guide-content td {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: var(--brand-color);
}

.modal-close-button {
    cursor: pointer;
}

.product-details-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--body-color);
    border-top: 10px solid var(--brand-color);
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 50px 0;
}

.product-details-popup.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.size-guide-popup.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.product-details-wrapper::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: var(--card-bg);
    z-index: -1;
    height: 100%;
}

.product-details-page-icon {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.modal-close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: var(--brand-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.product-details-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
}

.product-details-img {
    margin: 0 auto;
}

.product-details-img img {
    object-fit: contain;
}

.product-details-content-inner {
    max-width: 554px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

.product-details-content-heading {
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.product-details-content-title {
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.product-details-content-text {
    margin: 0 auto 30px;
}

.product-details-content-text,
.product-details-size-text,
.product-details-content-inner ul li p {
    font-weight: 600;
    font-size: 14px;
}

.product-details-content-inner ul {
    text-align: left;
    margin: 0 auto;
    padding: 0 0 0 23px;
}

.product-details-content-inner ul li {
    list-style-type: disc;
    margin: 0 0 7px 0;
}

.product-details-size-text {
    margin: 30px 0 0 0;
}

.product-details-page-logo {
    width: 35px;
    height: 35px;
    margin: 30px auto 0;
}

.product-size-content-inner {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

.product-size-content-title {
    text-transform: uppercase;
    margin: 0 auto 50px;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
    width: fit-content;
}

.product-size-content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.product-size-content-img {
    max-width: 400px;
    width: 100%;
}

.product-size-content-img img {
    object-fit: contain;
}

.product-size-content {
    max-width: 285px;
    width: 100%;
}

.product-size-content p {
    font-size: 14px;
    font-weight: 500;
}

.product-size-content ul {
    margin: 30px 0 0 0;
}

.product-size-content ul li {
    margin: 0 0 5px 0;
}

.product-size-content ul li:last-child {
    margin: 0;
}

.size-chat-area {
    margin: 50px 0 0 0;
    text-align: center;
}

.size-chat-title {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    background-color: var(--black);
    color: var(--white);
}

.size-chat-img {
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
}

/* product section css end */

/* related-product section css start */
.related-product-section .container {
    max-width: 1680px;
}

.related-product-slider {
    padding: 0 0 50px 0;
}

/* related-product section css end */

@media only screen and (max-width: 992px) {

    /* product section css start */
    .product-page-content-wrap {
        flex-direction: column;
        display: flex;
        gap: 20px;
    }

    .product-section::after {
        display: none;
    }

    .product-img-area {
        width: 100%;
    }

    /* update slider */
    .product-single-slider {
        height: 100%;
    }

    /* update slider */

    .product-content-area {
        max-width: 100%;
        padding: 0;
    }

    .product-size-content-wrap {
        flex-wrap: wrap;
    }

    .product-size-content-img {
        max-width: 300px;
        margin: 0 auto;
    }

    .product-size-content {
        max-width: 100%;
    }

    .product-size-content-title {
        margin: 0 auto 20px;
    }

    /* product section css end */
}

@media only screen and (max-width: 767px) {

    /* product section css start */
    .product-details-inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .product-details-wrapper::after {
        display: none;
    }

    .product-details-img {
        width: 100%;
    }

    .product-details-content-inner {
        max-width: 100%;
    }

    .product-details-content-heading {
        margin: 0 0 10px 0;
    }

    .product-details-content-title {
        margin: 0 0 10px 0;
    }

    .product-details-content-text {
        margin: 0 auto 10px;
    }

    .product-details-size-text {
        margin: 10px 0 0 0;
    }

    .product-details-page-logo {
        margin: 10px auto 0;
    }

    /* product section css end */
}

@media only screen and (max-width: 575px) {

    /* product section css start */
    .product-price-wrap {
        margin: 10px 0 0 0;
    }

    .product-title {
        font-size: 18px;
    }

    .latest-price,
    .previous-price {
        font-size: 16px;
        line-height: 1;
    }

    .single-product-content-top {
        padding: 0 0 10px 0;
    }

    .product-details-popup-wrap {
        margin: 10px 0 0 0;
    }

    .product-details-popup-btn {
        font-size: 12px;
    }

    .product-desription-link-wrap {
        gap: 10px;
        margin: 10px 0 0 0;
    }

    .product-desription-link {
        font-size: 12px;
    }

    .product-varient {
        margin: 10px 0 0 0;
    }

    .product-varient-title {
        font-size: 16px;
    }

    .product-varient-field-wrap {
        gap: 5px;
    }

    .product-btn-area {
        margin: 10px 0 0 0;
        gap: 10px;
    }

    .product-color-varient-field-wrap {
        gap: 5px;
    }

    .masurement-modal-content {
        width: 350px;
    }

    .modal-content-inner {
        gap: 20px;
        flex-direction: column;
    }

    .modal-content {
        width: 100%;
    }

    /* product section css end */

}