/* single-banner section css start */
.single-banner-section {
    background-image: url("../images/single-banner-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 441px;
}
/* single-banner section css end */